trigger:
  - master
pr:
  - master
  
resources:
  repositories:
    - repository: azTemplates
      type: github
      name: hmcts/azure-devops-templates
      ref: refs/heads/master
      endpoint: hmcts
schedules:
  - cron: "0 1 * * 1"
    displayName: Weekly Run
    branches:
      include:
      - master
    always: false

parameters:
  - name: envs
    displayName: Environments
    type: object
    values: []
    default: ['sbox','stg','prod']

stages:
  - template: pipeline/stages/build.yaml

  - ${{each env in parameters.envs}}:
    - template: pipeline/stages/plan.yaml
      parameters:
        env: ${{env}}
        ${{ if or(eq(env, 'sbox'), contains(variables['Build.SourceBranch'], 'refs/heads/VIH-8192')) }}:
          dependsOnEnv: ''
        ${{ if and(eq(env, 'stg'), eq(contains(variables['Build.SourceBranch'], 'refs/heads/VIH-8192'), False)) }}:
          dependsOnEnv: 'sbox'
        ${{ if and(eq(env, 'prod'), eq(contains(variables['Build.SourceBranch'], 'refs/heads/VIH-8192'), False)) }}:
          dependsOnEnv: 'stg'

  - ${{each env in parameters.envs}}:
    - template: pipeline/stages/deploy.yaml
      parameters:
        env: ${{env}}

  - ${{each env in parameters.envs}}:
    - template: pipeline/stages/test.yaml
      parameters:
        env: ${{env}}