trigger:
  - master
pr:
  - master

schedules:
- cron: "0 17 * * 1"
  displayName: Weekly Pipeline Schedule
  branches:
    include:
    - master
  always: true

resources:
  repositories:
    - repository: azTemplates
      type: github
      name: hmcts/azure-devops-templates
      ref: master
      endpoint: hmcts

parameters:
  - name: envs
    displayName: Environments
    type: object
    values: ['sbox','stg','prod']
    default: ['sbox']

variables:
  - template: ./pipeline/variables/variables-common.yaml

stages:

  - template: pipeline/stages/build.yaml 

  - ${{each env in parameters.envs}}:
    - template: pipeline/stages/plan.yaml
      parameters:
        env: ${{env}}
        runStage: 'true' 
      # parameters:
      #   env: ${{env}}
      #   ${{ if and(ne(env, 'prod') , contains(lower(variables['Build.SourceBranch']), lower(variables.release_branch_prefix))) }}:
      #     runStage: 'false'
      #   ${{ if and(eq(env, 'stg'), eq(contains(lower(variables['Build.SourceBranch']), lower(variables.release_branch_prefix)), False )) }}: # stg env + not release
      #     runStage: 'true'
      #     dependsOnEnv: 'sbox'
      #   ${{ if and(eq(env, 'prod'), eq(contains(lower(variables['Build.SourceBranch']), lower(variables.release_branch_prefix)), False )) }}: # prod env + not release
      #     runStage: 'true'
      #     dependsOnEnv: 'stg'

          
    # - template: pipeline/stages/deploy.yaml
    #   parameters:
    #     env: ${{env}}
    #     runStage: 'true' 
    #     # ${{ if and(eq(env, 'prod'), contains(lower(variables['Build.SourceBranch']), lower(variables.release_branch_prefix))) }}:  # prod + not release
    #     #   runStage: 'true' 
    #     # ${{ if and(ne(env, 'prod'), eq(contains(lower(variables['Build.SourceBranch']), lower(variables.release_branch_prefix)), False )) }}: # not prod + not release
    #     #   runStage: 'true'

    # - template: pipeline/stages/test.yaml
    #   parameters:
    #     env: ${{env}}
    #     runStage: 'true' 
    #     # ${{ if and(eq(env, 'prod'), contains(lower(variables['Build.SourceBranch']), lower(variables.release_branch_prefix))) }}:  # prod + release
    #     #   runStage: 'true' 
    #     # ${{ if and(ne(env, 'prod'), eq(contains(lower(variables['Build.SourceBranch']), lower(variables.release_branch_prefix)), False )) }}: # not prod + not release
    #     #   runStage: 'true'